<div class="my-component">
    
    @*<script src="lib/angular/angular.min.js"></script>
    <script src="lib/locale/angular-locale_ro-ro.js"></script>*@
    This component is defined in the <strong>AngularRazorClassLibrary</strong> library.
</div>
